<html>
  <body>
    <div>Phishing website</div>
    <div>
      <!-- Request Url contain the img tag with the src with multiple dot from another domain -->
      <img src="p.x.y.z">Phishing Img</img>
      <img src="p.x.y.z">Phishing Img</img>
      <img src="p.x.y.z">Phishing Img</img>
      <img src="p.x.y.z">Phishing Img</img>

      <!-- URL of Anchor contain the a tag with the href with multiple dot from another domain -->
      <a href="p.x.y.z">Phishing Link</img>
      <a href="p.x.y.z">Phishing Link</img>
      <a href="p.x.y.z">Phishing Link</img>
      <a href="p.x.y.z">Phishing Link</img>

      <!-- SFH  -->
      <form action="" action="about:blank">

      </form>

      <!-- Submitting to email -->
      <form action="mailto:">

      </form>

      <!-- Abnormal URL Should not contain any pointing to same domain  -->
      <!-- <a href="http://currentDoamin.com" ></a> -->

      
      
    </div>
  </body>
</html>
