<html>
  <body>
    <div>Phishing website</div>
    <div>
      <!-- contain the img tag with the src with multiple dot from another domain -->
      <img src="p.x.y.z">Phishing Img</img>
      <img src="p.x.y.z">Phishing Img</img>
      <img src="p.x.y.z">Phishing Img</img>
      <img src="p.x.y.z">Phishing Img</img>

      <!-- contain the a tag with the href with multiple dot from another domain -->
      <a href="p.x.y.z">Phishing Link</img>
      <a href="p.x.y.z">Phishing Link</img>
      <a href="p.x.y.z">Phishing Link</img>
      <a href="p.x.y.z">Phishing Link</img>

        
    </div>
  </body>
</html>
